<!-- <div style="text-align: center">
  <nav>
    <a routerLink="/">Home</a>
    <a routerLink="/posts" routerActiveLink="active">Posts</a>
    <a routerLink="/king" routerActiveLink="active">King</a>
  </nav>
</div>

<div>
  <router-outlet></router-outlet>
</div> -->
<ul>
  <li>
    <a [routerLink]="'/'" routerLinkActive="active"> Dashboard </a>
  </li>
  <li>
    <a [routerLink]="'/profile'" routerLinkActive="active"> My Profile </a>
  </li>
  <li>
    <a [routerLink]="'/attendance'" routerLinkActive="active"> My Attendance </a>
  </li>
  <li>
    <a [routerLink]="'/leaves'" routerLinkActive="active"> My leaves </a>
  </li>
</ul>

  <router-outlet></router-outlet>